<ion-view view-title="开始派车">

  <ion-nav-bar class="bar-positive" ng-style="{'background-color': viewColor}">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="goback()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true" style="overflow: auto;">
    <div class="css_audit_item">
      <div class="css_audit_header">
        <label>订单编号:A067855670817</label><img src="img/audit_in.png">
      </div>
      <div class="css_audit_row">
        <div class="css_audit_col1">
          <label>8月17日 08:30</label>
          <br/>
          <label class="css_audit_middlelabel">8小时</label>
          <br/>
          <label>8月17日 16:30</label>
        </div>
        <div class="css_audit_col2">
          <div class="list" style="text-align:left;background-color: transparent;width:100%">
            <label class="item item-input" style="border: 0;background-color: transparent;">
              <img src="img/main_positionstart@2x.png" width="18px">
              <label>武汉市</label>
            </label>
            <label class="item item-input" style="border: 0;margin-top: 10px">
              <img src="img/main_positionend@2x.png" width="18px">
              <label>武汉市中山路武汉市中山路武汉市中山路武汉市中山路</label>
            </label>
          </div>
        </div>
      </div>
      <div class="css_audit_row" style="height: 130px">
        <div class="css_audit_col">
          <label>用车事由: 机要用车</label>
          <br/>
          <label>乘车人: 孙雷 办公室</label>
          <br/>
          <label>乘车人数: 3</label>
          <br/>
          <label>申请车型: 轿车 <labe class="bluelabel">1辆</labe></label>
          <br/>
          <label>备注:无</label>
        </div>
        <div class="col">
          <img class="css_audit_img" src="img/main_moretel@2x.png">
        </div>
      </div>
      <div class="css_mainrequest_header">
        <img src="img/mainrequest_carinfo@2x.png"><label>派车信息</label>
      </div>
      <div>
        <div class="row">
          <div class="col">
            <div class="item item-input item-select mainrequest_selected">
              <div class="input-label">
                <label class="select_title">折扣率:</label>
              </div>
              <select>
                <option>Blue</option>
                <option selected="">Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item item-input item-select mainrequest_selected">
              <div class="input-label">
                <label class="select_title">服务网点:</label>
              </div>
              <select>
                <option>Blue</option>
                <option selected="">Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item item-input item-select mainrequest_selected">
              <div class="input-label">
                <label class="select_title">车型:</label>
              </div>
              <select>
                <option>Blue</option>
                <option selected="">Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item item-input item-select mainrequest_selected">
              <div class="input-label">
                <label class="select_title">车辆:</label>
              </div>
              <select>
                <option>Blue</option>
                <option selected="">Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item item-input item-select mainrequest_selected">
              <div class="input-label">
                <label class="select_title">司机:</label>
              </div>
              <select>
                <option>Blue</option>
                <option selected="">Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item item-input item-select mainrequest_selected">
              <div class="input-label">
                <label class="select_title">费用标准:</label>
              </div>
              <select>
                <option>Blue</option>
                <option selected="">Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item item-input mainrequest_selected">
              <div class="input-label">
                <label class="select_title">出车备注:</label>
              </div>
              <input type="text">
            </div>
          </div>
        </div>
      </div>

      <button class="input_button button button-block button-positive"
              style="width: 80%;margin-left: 10%;margin-top: 30px;">
        提交
      </button>

    </div>
  </ion-content>
</ion-view>
