/*全局颜色变量*/
$color_blue_01:#347aea;
$color_blue_02:#3667b7;
$color_blue_03:#84a4d8;
$color_blue_04:#19254f;//左侧菜单背景颜色
$color_blue_05:#2f395d;//左侧菜单边框颜色
$color_blue_06:#35bcf8;
$color_white_01:#ffffff;
$color_gray_01:#91a2bc;
$color_gray_02:#9fa9b5;
$color_gray_03:#d8d8d8;
$color_gray_04:#eeeeee;
$color_gray_05:#cccccc;
$color_gray_06:#f2f2f2;
$color_yellow_01:#fab807;
$color_black_01:#333333;
$color_red_01:#ee2d4a;

$color_font_01:#916a01;
$color_font_02:#ffffff;
$color_font_03:#3667b7;
$color_font_04:#333333;
$color_font_05:#bed0f8;
$color_font_06:#343434;
$color_font_07:#6d9cee;
$color_font_08:#cccccc;
$color_font_09:#ed2c4b;
$color_font_10:#35bcf8;


/*字体样式*/
$fontsize_10:10px;
$fontsize_11:11px;
$fontsize_12:12px;
$fontsize_13:13px;
$fontsize_14:14px;
$fontsize_15:15px;
$fontsize_16:16px;
$fontsize_17:17px;
$fontsize_18:18px;
$fontsize_20:20px;
$fontsize_22:22px;
$fontsize_24:24px;
$fontsize_26:26px;
$fontsize_28:28px;

$fontsize_40:40px;
